.field {
	display: flex;
	align-items: center;
	height: 52px;
	background: var(--color-bg-secondary);
	border-radius: 16px;
}

.select {
	flex: none;
	min-width: 112px;
	height: 100%;
}

.number {
	flex: 1;
	height: 100%;
	font-size: 16px;
	background: transparent;
}

.number,
.number:focus-within {
	box-shadow: none;
}

.field :focus-visible,
.field :focus {
	outline: none;
	box-shadow: none;
}
